#app {
  display: grid;
  grid-template-columns: 31.25% 68.75%;
  height: 100vh;
  overflow: hidden;
  gap: 1.25rem;
  margin: 1.25rem;
}

main {
  border-radius: 12px;
  overflow: auto;
  background-color: var(--shape-body);
  padding: 5rem 8.125rem;
}

aside {
  border-radius: 12px;
  background-image: url(../assets/img/image.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-y: auto;
}

.aside-container {
  & label {
    color: var(--text-heading);
  }
  padding: 2rem;
}

.title {
  & label {
    color: var(--text-heading);
  }
  display: flex;
  flex-direction: column;
}

.title img {
  width: 2.81rem;
}
.main-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.main-container span:nth-child(1) {
  color: var(--text-heading);
}

.section-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.75rem;

  & span {
    color: var(--text-heading);
  }
}

#forms {
  display: grid;
  grid-template-areas:
    "input input"
    "data data"
    "radio input"
    "location location";
  grid-template-columns: 1fr 1fr; /* Duas colunas */
  grid-template-rows: auto auto auto auto; /* Quatro linhas */
}

.infos-txt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.div-text {
  & label {
    font: var(--body-sm);
    color: var(--text-body);
    padding: 10px;
    align-items: center;
  }

  & input {
    background-color: var(--input-base);
    border: solid 1px var(--input-stroke);
    border-radius: 0.5rem;
    height: 3rem;
    padding: 1rem;
    color: var(--input-placeholder);
  }

  & textarea {
    background-color: var(--input-base);
    border: solid 1px var(--input-stroke);
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--input-placeholder);
  }

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(../assets/icons/calendar.svg) center;
  background-size: cover;
  background-repeat: no-repeat;
}

input:focus,
select:focus,
textarea:focus {
  outline: 1px solid var(--brand-light);
}
.date-inicial {
  width: 17rem;
}

.toggle {
  display: flex;
  background: #222;
  padding: 5px;
  border-radius: 8px;
  gap: 5px;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  background: var(--shape-button);
  border-radius: 8px;
  color: var(--text-heading);
  & svg {
    stroke: var(--brand-light);
  }
}

input[type="radio"]::before {
  & svg {
    stroke: var(--input-placeholder);
  }
}
